// Mixins in here

.btn-desktop(){
    background-color: @teal;
    color: @white;
    border: solid grey 1px;
    border-radius: 6px;
    font-size: 3rem;
    padding: 2%;
}

.btn-mobile() {
    background-color: @eastern-blue;
    color: white;
    border: solid grey .5px;
}