// Mixins in here

.btn-desktop(@bgcol){
    background-color: @bgcol;
    color: @white;
    border: solid grey 1px;
    border-radius: 15px;
    font-size: 2.5rem;
    padding: 5%;
    text-align: center;
}

.btn-mobile() {
    background-color: @eastern-blue;
    color: white;
    border: solid grey 1px;
    border-radius: 15px;
}