// Navigation Styles here

.navdiv {

    border-bottom: 2px dashed @navigation-border;
    
    .funnav {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 2%;
        align-items: center;

        h1 {
            margin-right: 15%;
            font-size: 5rem;
            color: @shark;
        }

        .navlinks ul{
            margin-left: -13%;
            width: 350px;
            display: flex;
            justify-content: space-between;
            font-size: 2rem;

            a {
                color: @shark;
                text-decoration: none;
            }
        } // closes .navlinks
    } // closes .funnav
} // closes navdiv